@media (min-width: 1768px) {
  .contacttext{
    font-size:28px;
    line-height: 60px;
  }
}


@media (min-width: 1768px) {
  .servicescardtext{
    font-size:24px;
    line-height: 45px;
  }
}


@media (min-width: 1768px) {
  .luckymediatext{
    font-size:16px;
    line-height: 45px;
  }
}


@media (min-width: 1768px) {
  .br{
    display: block;
  }
}

@media (min-width: 1768px) {
  .aboutceo{
    gap: 192px;
    font-size: 26px;
  }
  .aboutceotext{
    line-height: 54px;
    font-size: 26px;
  }
}



@media (min-width: 1768px) {
  .powerflamevideo{
    width: 80%;
    margin-top: -100px;
    
  }
}

@media (min-width: 2100px) {
  .powerflamevideo{
    width: 70%;
    margin-top: -100px; 
  }
  .margin{
    padding-top: 200px;
    padding-bottom: 200px;
  }
}



@media (min-width: 1768px) {
  .sweethomevideo{
    width: 80%;
    margin-top: -150px;
    
  }
}


@media (min-width: 2100px) {
  .sweethomevideo{
    width: 70%;
    margin-top: -200px; 
  }
  .margin{
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .sweethomeimg{
    width: 80%;
    right: 100px;
  }
}

@media (min-width: 1768px) {
  .torbazvideo{
    width: 80%;
    margin-top: -100px;
    
  }
}
@media (min-width: 2100px) {
  .torbazvideo{
    width: 70%;
    margin-top: -100px; 
  }
  .margin{
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .torbazimg{
    width: 80%;
    right: 100px;
  }
}


@media (min-width: 1768px) {
  .socialvideo{
    width: 80%;
   margin-top: -120px;
  }
}

@media (min-width: 2100px) {
  .socialvideo{
    width: 70%;
    margin-top: -100px; 
  }
  .margin{
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .politicalimg{
    width: 80%;
    right: 100px;
  }
}


@media (min-width: 2100px) {
  .audiancevideo{
    width: 80%;
    margin-top: -0px; 
  }
  .margin{
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .politicalimg{
    width: 80%;
    right: 100px;
  }
}
