@media (min-width: 1768px) {
  .contacttext{
    font-size:28px;
    line-height: 60px;
  }
}


@media (min-width: 1768px) {
  .servicescardtext{
    font-size:24px;
    line-height: 45px;
  }
}


@media (min-width: 1768px) {
  .luckymediatext{
    font-size:16px;
    line-height: 45px;
  }
}


@media (min-width: 1768px) {
  .br{
    display: block;
  }
}


